@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
.flech{
  border: 1px solid #A32EFF;
  border-left: none;
  border-bottom: none;
  border-right: none;
  display: flex;
  width: 6rem;
  margin-left: 1rem;
  margin-top: 0.55rem;

}
h4{
    color: #603F8B;
}
a{
    text-decoration: none;
}
.input-group{
    background-color: transparent;
    border: 1px solid #A32EFF;
    border-radius: 5px;
}
.title{
  display: flex;
}

body{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
margin-left: 0;
margin-right: 0;
  text-align: center;
}
.decimal{
  position: absolute;
}
.mois{
  font-size: 10px;
}
.content{
  position: relative;
  max-width: 1090px;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
 .content .card{
  background: #fff;
  width: calc(33% - 20px);
  text-align: center;
  padding: 15px 15px  45px 15px; 
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  margin-top:1.5rem ;
}
.recommand{
  color: white;
  left: 35.7rem;
  top: 10.5rem;
  background-color: blue;
  width: 9rem;
 display: flex;
 justify-content: space-between;
 position: absolute;
}
.triangle{  
  border:12px solid;
  border-color: transparent transparent transparent #fff
}
.fe{
  padding-left: 0;
  margin-left: 0;
}
.content .card .top{
  height: 150px;
  color: #fff;
  padding: 16px 0 0 0 ;
  border-radius: 15px;
  clip-path: polygon(0 0, 100% 0, 100% 75%, 25% 100%, 0 75%);
  
}

.content .card .top1{
  background:#A32EFF;
  width:18em;
  height:10em;
 position:relative;
 border-radius: 15px;
 margin: auto;
  clip-path: polygon(0 0, 100% 0, 100% 75%, 25% 100%, 0 75%);
  
}
.two .flech{
border-color: #00FF00;
}
.three .flech{
  border-color:#FFD700 ;
  }
.content .card .top3{
  background-color: #FFD700;
  width:18em;
  height:10em;
 position:relative;
 border-radius: 15px;
  margin: auto;
  -webkit-clip-path:polygon(0 0, 100% 0, 100% 75%, 25% 100%, 0 75%);
  clip-path: polygon(0 0, 100% 0, 100% 75%, 25% 100%, 0 75%);

  
}
.content .card .top2{
  background-color: #00FF00;
  width:18em;
  height:10em;
 position:relative;
 border-radius: 15px;
 margin: auto;
  clip-path: polygon(0 0, 100% 0, 100% 75%, 25% 100%, 0 75%);
}

.content .card .top .title{
 font-size: 27px;
 font-weight: 600;
}
.content .card .top .price-sec{
  margin-top: 12px;
  font-weight: 600;
}
.content .card .top .price{
  font-size: 45px;
}
.dollar{
  font-size: 45px;
}
.content .card .title{
  font-size: 16px;
  margin-top: 20px;
}
.content .card .details .one{
  margin-top: 25px;
  font-size: 15px;
  display: flex;
  align-items: center;
  position: relative;
  text-align: center;
}
.head{
    background-image: url(WhatsApp\ Image\ 2024-01-13\ at\ 20.11.00\(2\).jpeg);
    height: 52vh;
  
}
.inclus {
    position: relative;
}
.inclus p{
     color: #603F8B;
}
   .inclus  img{
   
       
    }

.inclus div div{

   margin: auto;
    top: 2px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #5C00A3;
    opacity: 0.4;
  
}
.inclus svg{
    width: 2rem;
    color: #fff;
    font-size: large;
    z-index: 3;
  
  margin: auto;
    
}
.content .card button{
  outline: none;
  height: 42px;
  color: #603F8B;
  margin-top: 30px;
  border-radius: 2rem;
  font-size: 18px;
  width: 60%;
  display: block;
  transition: all 0.3s ease;
  cursor: pointer;
  letter-spacing: 1px;
}
.btn{
  display: flex;
justify-content: center;
color: #fff;
}
.content .one .top{
  background: #603F8B;
}
ul{
    list-style: none;
}
ul li{
padding: 1rem;
text-align: justify;
color: #603F8B;

}
.content .one button{
  background: white;
  border:2px solid #603F8B;
  font-size: large;
}
.content .three .top{
  background: #D1B000;
}
.content .three button{
  color: #D1B000;
  background: white;
  border: 2px solid #D1B000;
}
.content .two .top{
  background: #116530;
}
.content .two button{
  background-color: white;
  border: 2px solid #116530;
  color: #116530;
}
.content button:hover {
  filter: brightness(90%);
}
.content .one ::selection{
background: #8af5b6;
}
.content .two ::selection{
background:  #f2b08c;
}
.content .three ::selection{
background: #d0f9fb;
}
p{

 
    padding: 1rem;
    text-align: justify;

    width: 50%;
}
.h6{
    background-color: #603F8B;
}
h6{
    
    text-align: justify;
    color: #fff;
    padding: 1rem;
    
}
@media (max-width:1000px) {
   .content .card{
    background: #fff;
    width: calc(50% - 20px);
    margin-bottom: 30px;
}
}
@media (max-width:715px) {
 .content .card{
    width: 100%;
}
p{

    width: 18rem;
}
.inclus  img{


}

.inclus div div{



}
.btn-outline-success{
    margin-top: 1rem;
}

}
